.btn {
  background-color: rgba(34, 48, 85);
  border-radius: 5px;
  width: 100%;
  color: white;
  padding: 7px;
  border: none;
  text-align: center;
  transition: all 0.3s;
}
.btn:hover {
  background-color: rgb(86, 113, 194);
  text-shadow: 0 0 2px white;
}
.btn:focus {
  background-color: rgb(15, 25, 54);
  text-shadow: 0 0 2px white;
}
