.container {
  border-radius: 10px;
  box-shadow: 0 5px 10px darkgray;
  color: rgba(34, 48, 85);
  position: relative;
  opacity: 0;
  transition: all 0.8s;
  width: 100%;
}
.cardCont table tr,
td,
.cardCont table tr,
th {
  font-size: 12px;
}
/* fade */
.fade {
  opacity: 1;
}
.container .back {
  color: rgba(34, 48, 85, 0.413);
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  top: -8px;
  right: 0;
  z-index: 2;
  transition: all 0.3s;
}
.container .back:hover {
  color: rgba(34, 48, 85);
  -webkit-text-stroke: 2px rgba(34, 48, 85);
}
.container .back:active {
  top: -5px;
}
/* card */
.cardCont {
  width: 100%;
  padding: 30px;
}
.cardCont h5 {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}
/* print */
.ContTablePrint {
  margin: 50px;
}
.cetak {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 16px;
  z-index: 99;
  color: grey;
  cursor: pointer;
  transition: all 0.3s;
}
.cetak:hover {
  font-size: 18px;
  color: rgba(34, 48, 85);
}
